* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  line-height: 1.4;
  font-weight: 400;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #D3D3D3; 
  margin: 0;
  font-family: sans-serif;
}

header {
  color: white;
  padding: 1em;
  background: #A9A9A9; 
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav {
  width: 41%;
}

header nav a {
  display: inline;
  padding: .25em;
  color: white;
  font-weight: 600;
  text-transform: lowercase;
  width: 15%;
  float: right;
}

a {
  outline: none;
  text-decoration: none;
}

header nav a:hover {
  background: red;
  border-radius: 15px;
  text-decoration: none;
}

footer {
  color: white;
  padding: 2em;
  text-align: center;
  font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
  letter-spacing: -.02em;
}

h2 {
  font-size: 20pt;
  font-weight: 400;
  color: #D3D3D3; 
}

p {
  margin: 0;
}

p + p {
  margin-top: .75em;
}

div {
  padding: 1.5em;
  background: white;
}

div h3 {
  color: #A9A9A9; 
}

div p {
  color: #D3D3D3; 
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	text-align: left;
}

main {
  background: gainsboro; 
  padding-bottom: 1.5em;
}

main section,
main aside {
  padding: 1.5em;
  padding-bottom: 0;
}

main article {
  padding: 1.5em;
  background: white;
  border-radius: 3px;
}

main article p {
  color: indianred;
  line-height: 1.5;
}

.capsule {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightslategray;
}

.capsule  + .capsule {
  border-top: none;
}

.capsule:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.capsule:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width: 800px) {
  header,
  main {
    overflow: hidden;
  }
  main section,
  main aside {
    float: left;
    width: 40%;
  }
  main section {
    width: 60%;
    padding-right: 0;
  }
  header h1 {
    float: left;
  }
  header nav {
    float: right;
  }
}

textarea {
    display: block;
    font-size: 12px;
    height: 70px;
    margin: 10px 0 px;
    width: 40%;
}

.input{
	padding: 5px 5px;
}

.tdiv{
    align-content: center;
}